@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "tailwindcss";

:root {
  --color-black: hsl(0, 0%, 8%);
  --color-white: hsl(0, 0%, 98%);
  --color-gray: hsl(0, 0%, 41%);
}

body {
  font-family: "Epilogue";
}

.client-box > img {
  transform: scale(0.75);
}

.menu > div > p,
.dropdown > a {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.dropdown > a {
  gap: 1rem;
}

.nav-opts > div {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  margin-top: 24px;
  gap: 8px;
}

.nav-opts > p:hover {
  color: var(--color-black);
}

/* .slide-left {
  transform: translateX(0);
  transition: transform 2s;
} */
